<link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/Content/styles.css" rel="stylesheet" type="text/css">

<h1>Band Tracker</h1>
<h2>Venue: @Model["venue"].GetPlace()</h2>
<hr />
@if (@Model["venueBands"].Count != 0)
{
  <h4>Bands that have played at this venue :</h4>
  <ul>
    @foreach (var band in @Model["venueBands"])
    {
      <li>@band.GetName()</li>
    }
  </ul>
}
<h4>Add a band to this venue:</h4>
<form action='/venue/add_band' method='post'>
  <input id='venue-id' name='venue-id' type='hidden' value='@Model["venue"].GetId()'>
  <label for='band-id'>Select a band</label>
  <select id='band-id' name='band-id' type='text'>
    @foreach (var band in @Model["allBands"])
    {
      <option value='@band.GetId()'>@band.GetName()</option>
    }
  </select>
  <button type='submit' class=" btn btn-success">Add</button>
</form>
<p><a href="/">Return to Main Page</a></p>
